.App {
  text-align: center;
  overflow-x: hidden;
}

.App img{

width: 60%;}

.laptop{
  width: 60% !important;
  right:0;
  bottom:0;
  z-index:-2 ;
  position: absolute;
}
.coin{
  left:0;
  width: 60%;
  bottom:0;
  z-index:-2 ;
  position: absolute;
}
.cash{
  width: 60%;
  top:110vh;
  right: 0;
  z-index:-2 ;
  position: absolute;
}
.rocket{
  width: 60%;
  left:0;
  top:120vh;
  z-index:-2 ;
  position: absolute;
}
.magnet{
  right:0;
  top:140vh;
  z-index:-2 ;
  position: absolute;
}

.phone{
  right:0;
  top:360vh;
  z-index:-2 ;
  position: absolute;
}
.hands{
  right:0;
  top:360vh;
  z-index:-2 ;
  position: absolute;
}
.chat{
  left:0;
  top:413vh;
  z-index:-2 ;
  position: absolute;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index:-2 ;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.font-face-greb {
  font-family: "Gilroy-ExtraBold";
}

.font-face-grl {
  font-family: "Gilroy-Light";
}

.hero {
  height: 80vh;
  margin-bottom: 2%;

}

.hero h1 {
  font-family:inter !important;
  font-size: 6vw !important;
  font-weight: 700 !important;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 30vh;
}

.learn-now {
  border-radius: 50px !important;
  background-color: #ff5d21 !important;
  border-color: #ff5d21 !important;
  margin-top: 2%;
  width: 150px;
  height: 50px;
  font-size: 15px !important;
  font-weight: 600 !important;
  box-shadow: 28px 28px 50px rgb(58 44 44 / 37%);

}


.learn-now:hover {
  background-color: #d65923 !important;
}

.ZuAcademy {
  height: 100vh;
  margin-bottom: 2%;

}

.ZuAcademy h2 {
  /* font-family:inter !important; */
  font-size: 50px !important;
  font-weight: 700 !important;
  color: white;
  text-align: center;
}

.ZuAcademy p {
  font-family:inter !important;
  font-size: 25px !important;
  color: white;
  text-align: center;
  margin-top: 3%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.pay-to-learn {
  height: 100vh;

}

.pay-to-learn h2 {
  /* font-family:inter !important; */
  font-size: 50px !important;
  font-weight: 700 !important;
  color: white;
  text-align: center;
}

.pay-to-learn p {
  font-family:inter !important;
  font-size: 25px !important;
  color: white;
  text-align: center;
  margin-top: 3%;
  margin-left: 25% !important;
  margin-right: 25% !important;
}

.pay-to-learn img {
  max-height: 90%;
}

.practice {
  height: 80vh;
  align-items: left;

}

.practice h2 {
  /* font-family:inter !important; */
  font-size: 50px !important;
  font-weight: 700 !important;
  color: white;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
}

.practice p {
  font-family:inter !important;
  font-size: 25px !important;
  color: white;
  margin-top: 3%;
  text-align: left;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 40%;
}

.download {
  border-radius: 50px !important;
  background-color: #ff5d21 !important;
  border-color: #ff5d21 !important;
  margin-top: 2%;
  width: 150px;
  height: 50px;
  font-size: 15px !important;
  font-weight: 600 !important;
  margin-left: 10%;
  box-shadow: 28px 28px 50px rgb(58 44 44 / 37%);
}


.download:hover {
  background-color: #d65923 !important;
}


.tweetsec {
  height: 80vh;
  margin-bottom: 2%;
  margin-top:10%;
  height: 100vh;
}

.tweetsec h2 {
  /* font-family:inter !important; */
  font-size: 50px !important;
  font-weight: 700 !important;
  color: white;
  text-align: center;
}

.tweets {
  display: flex;
}

blockquote.twitter-tweet {
  margin-left: 12%;
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px !important;
  padding: 0 16px 16px 16px !important;
  max-width: 50% !important;
  position: absolute;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.community h2 {
  
  font-size: 50px !important;
  font-weight: 700 !important;
  color: #6947bf;
  text-align: center;
}

.community {
  padding-top: 7%;
  height: 50vh;
  background-color: white !important;

}

@media only screen and (max-width: 600px) {
  .community {
    margin-top: 80%
  }

}