body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a07fee !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local("Gilroy-ExtraBold"),
    url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url("./fonts/Gilroy-Light.otf") format("opentype");
  font-weight: bold;
}